* {
    box-sizing: border-box;
}
body{
    margin: 0 10%;
    background-color: #f2fdfd;
}
.logo{
    height: 70px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 10%;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul li{
    display: inline-block;
}

.profilePic{
    height: 40px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

h1{
    text-align: center;
}
.searchBox{
        display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
}
.bgSearch{
    display: block;
    max-width: 800px;
    margin: 0 auto;
}

form{
    display: flex;
}
input{
    padding: 10px;
    width: 80%;
}

button{
    padding: 10px;
    width: 20%;
}
.recipe-example{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.recipe-image{
    width: 40%;
}