* {
    box-sizing: border-box;
}

body{
    margin: 0 10%;
    background-color: #f2fdfd;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black;
    
    & .logo{
        height: 70px;
    }

    & .menu{
        display: flex;
        align-items: center;
        gap: 10%;
        justify-content: flex-end;

        & a{
            text-decoration: none;
            color: black;
        }
    }

    & .profile-pic{
        height: 40px;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;

    & .hero{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;

         & .bg-search-box{
            display: block;
            max-width: 800px;
            margin: 0 auto;
            
        }
    
        & .search-box{
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 500px;
            width: 100%;
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translate(-50%,-50%);
    
            & h1{
                text-align: center;
            }
        }
    
        & .search-form{
            display: flex;
            width: 100%;
    
            & input{
                padding: 10px;
                width: 80%;
            }
            
            & button{
                padding: 10px;
                width: 20%;
            }
        }
    }
    
    &.recipe-example{
        display: flex;
        justify-content: center;
        gap: 30px;
    
        & .recipe-image{
            width: 40%;
        }
    }
    
}


